.hero{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    color: white;

}

.heroH1{
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    color: #fff;
    font-size: 70px;

}

.heroP{
    color: #fff;
    font-size: 40px;
    align-self: center;
    margin-right: 40px;
    padding-top: 30px;
    font-family: 'Lora';
}

.heroImg{
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-top: 30px;
}