.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    color: white;
    padding: 10px;
    margin-top: 100px;
}

.storyH2{
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    font-size: 50px;
}

ul{
    list-style: none;
    padding: 5px;
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

li{
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Lora', sans-serif;
}