.App {
  margin: 30px 0;
  padding: 50px 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(132, 101, 61);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
