.loveMessage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(132, 101, 61);
}

.loveWrapper{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loveH1{
    font-size: 70px;
    font-style: bold;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.loveP{
    font-size: 2rem;
    font-style: italic;
    font-family: 'Lora' sans-serif;
    color: white;
}