.reason{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    color: white;
    padding: 10px;
}

.reasonH2{
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  max-width: 1000px;
  margin-top: 35px;
}

.card {
    background: rgb(232, 168, 84);
    padding: 1rem;
    border-radius: 12px;
    color: antiquewhite;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.card:hover {
  background-color: #d29f08;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  color: aqua;
}